body {
  background-color: rgb(108, 236, 236);
  margin: auto;
  width: 100%;
  padding: 100px;
  box-sizing: border-box;
}

h1 {
  text-align: center;
}

#bookList {
  width: 50%;
  text-align: center;
  margin-right: auto;
  margin-left: auto;
  border: 1px solid black;
}

#bookList li {
  list-style-type: none;
  display: flex;
  justify-content: space-between;
  margin-left: -20px;
  margin-right: 10px;
  margin-bottom: 5px;
  margin-top: 5px;
}

#bookList li:nth-child(even) {
  background-color: rgb(255, 255, 255);
}

#title,
#author {
  margin-bottom: 5px;
}

form {
  text-align: center;
}

.add-btn {
  margin-left: 130px;
}

.form-title {
  margin-bottom: 5px;
  margin-left: auto;
  margin-right: auto;
  border-top: 1px solid black;
  width: fit-content;
}

.nav {
  background-color: white;
  width: 100%;
  font-weight: bold;
}

.nav-bar {
  display: flex;
  justify-content: space-between;
}

.list {
  display: flex;
  list-style-type: none;
  text-decoration: none;
}

.list li a {
  text-decoration: none;
  padding: 5px;
  color: black;
}

.nav-title {
  padding: 14px;
  list-style: none;
  align-items: center;
}

.nav-title a {
  text-decoration: none;
  color: black;
}

.add-new {
  border-right: 1px solid black;
  border-left: 1px solid black;
}

footer {
  background-color: white;
}

.footer {
  padding: 5px;
  margin-top: 10px;
  margin-left: 10px;
}
